1) Add Product - Options to add a Product in the inventory with the product code and also details and the pin code of the area in which the product was packed and also it delivrable areas
2) Add Buyer - Buyer should be able to purchase a product but no 2 buyers should be able to purchase the same product if the inventory is only 1
3) Pincode availabilty - if a buyer is in cit A and he wants to buy a product P. Then product P should only be dispalyed to Buyer B is P has pincode mapping to B's Area.
4) Mode of Payment Checks . If a product is only as Online Payment Accepted it should not be allowed to select mode of payment as cash by any buyer

